$bg-color: #252a34;
$primary-color: #ff2e63;

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	width: 150px;
	height: 150px;
	background-color: $bg-color;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.button {
	text-transform: uppercase;
	background: $primary-color;
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 15px;
	text-align: center;
	width: 100%;
	border-radius: 3px;
}

.timer {
	display: flex;
	font-size: 40px;
	user-select: none;
}

.linear {
	position: relative;
	display: flex;
}

.btn {
	position: absolute;
	height: 5px;
	width: 80%;
	background-color: $primary-color;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
	cursor: pointer;
}

.linear:hover .btn {
	opacity: 1;
}

.btn--top {
	top: -5px;
}

.btn--bottom {
	bottom: -5px;
}

.hours::before,
.minutes::before {
	position: absolute;
	bottom: -5px;
	font-size: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.hours::before {
	content: 'HOURS';
}

.minutes::before {
	content: 'MINUTES';
}

.linear:hover::before {
	opacity: 0;
}

.header {
	margin-bottom: 5px;

	&__nav {
		display: flex;
		justify-content: space-around;
	}

	&__link {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;

		&--active {
			border-bottom: 1px solid $primary-color;
		}
	}
}

.exclude {
	height: 100%;

	&__textarea {
		width: 100%;
		height: 60%;
		background-color: transparent;
		resize: none;
		border-radius: 3px;

		&:focus {
			outline: none !important;
			border: 1px solid $primary-color;
		}
	}
}

.invisible {
	display: none;
}
